.event-article {
  margin-top: 84px;
  // width: 100%;
}

.news-date {
  img {
    width: 310px;
    height: 203.08px;

     @include respond-x_small {
       display: block;
       width: 100%;
       height:auto;
     }
  }

  p {
    @include sectionText;
    margin-top: 16px;
    margin-bottom: 45.85px;
    width: 310px;
    height: 114.46px;

     @include respond-x_small {
       width: 100%;
     }
  }
}

.latest-news {
  @include flex($display: flex, $justify: space-between);

  @include respond-medium {
    @include flex($align: center, $wrap: wrap);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-m_s {
    @include flex($direction: column, $align: center);
    width: 100%;
  }
}
