.hero-button {
  @include flex($display: flex, $justify: center, $align: center);
  height: 50px;
  margin-top: 60px;

  a {
    display: block;
    width: 180px;
    background-color: $button-background;
    border: $button-border;
    border-radius: $button-border-radius;
    color: $button-color;
    text-decoration: none;
    text-transform: $button-text-transform;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    padding: 16px;
    transition: background-color 0.7s, border 0.7s;

    &:hover {
      background-color: $button-background-hover;
      border: $button-border-hover;
    }
  }
}

.node-readmore {
  padding: 0 !important;

  a {
    color: $white;
    text-decoration: none;
    font-weight: $fw-500;
    line-height: 16.41px;
  }

  .arrow {
    position:relative;
    top: 1px;
    width: 7.34px;
    height: 12px;
    margin-left: 5px;
  }
}
