{% block content %}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'agiledrop-content-full-top-content-header'
]
%}

<div class='hero-section'>
  <div{{ attributes.addClass(classes).addClass('hero') }} ">
    <div class="container" id="challenge-home">
      {% if label %}
        <h2 class='hero-subtitle' {{ title_attributes }}>{{ label }}</h2>
      {% endif %}
      {{ content.body }}
      {{ content.field_link }}
      {% endblock %}
    </div>
  </div>
</div>
