html,
body {
  // scroll-behavior: smooth;
  background-color: $black;
  color: $font-color;
  line-height: $line-height;
  font-family: $font-family;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: $font-family;
  color: $white;
}
