@mixin flex(
  $display: null,
  $direction: null,
  $justify: null,
  $align: null,
  $wrap: null
) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin fontSize($value) {
  font-size: ($value / 14) + rem;
}

@mixin pseudo(
  $pos: absolute,
  $content: "",
  $width: 100%,
  $height: 3px,
  $bg-color: #0097a7
) {
  position: $pos;
  content: $content;
  width: $width;
  height: $height;
  background-color: $bg-color;
}

@mixin sectionTitle() {
  @include fontSize(36);
  font-weight: $fw-300;
  font-family: $font-family;
  line-height: 42px;
  position: relative;
  text-transform: uppercase;
  margin: 0;

  &::after {
    @include pseudo($width: 100px);
    left: 2px;
    top: 63px;
  }
}

@mixin sectionText {
  @include fontSize(14);
  font-weight: $fw-400;
  line-height: 30px;
  background-color: transparent;
  display: block;
  vertical-align: text-top;
}

@mixin show {
  display: flex;
}

@mixin hide {
  display: none;
}

// === Media Queries ===

@mixin respond-large {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin respond-m_l {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 1140px) {
    @content;
  }
}

@mixin respond-m_s {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin respond-small {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin respond-x_small {
  @media (max-width: 620px) {
    @content;
  }
}
