@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

//==============================================================================
// Colors
//==============================================================================
$red: #ff5252;
$blue: #0097a7;
$dark-blue: #161e21;
$white: #ffffff;
$black: #101010;
$dark-black: #000000;
$light-gray: #d4d4d4;
$medium-gray: #949494;
$copyright-color: #d5d5d5;
$copyright-bg-color: #1e2c2e;
$footer-bg-color: #0f2123;
$bg-square-big: #0f2123;
$bg-square-small: #1d1524;

//==============================================================================
// Typography
//==============================================================================

//Body
$line-height: 30px;
$font-color: $light-gray;
$font-family: "Roboto", sans-serif;
$font-size: 14px;

// Font weights
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-900: 900;

// Headings
$heading-font-color: $white;
$heading-font-weight: 300;
$heading-font-family: "Roboto", sans-serif;
$heading-line-height: 42.19px;


//==============================================================================
// Buttons
//==============================================================================
$button-color: $white;
$button-background: $red;
$button-background-hover: $black;
$button-font-weight: 500;
$button-font-family: "Roboto", sans-serif;
$button-font-size: 14px;
$button-line-height: 16px;
$button-text-transform: uppercase;
$button-border-radius: 5px;
$button-border: 1px solid $red;
$button-border-hover: 1px solid $white;


