#challenge-about-me {
  @include flex($display: flex, $justify: center, $align: center);
  background-color: $black;
  height: 905px;
  width: 1050px;
  margin: 0 auto;
  position: relative;

  @include respond-medium {
    @include flex($direction: column);
    width: 100%;
    padding: 80px 30px;
    height: auto;
  }

  .content-left {
    position: relative;
    z-index: 10;
    width: 570px;
    top: -40px;
    left: 68px;

    @include respond-medium {
      width: 90%;
      top: 0;
      left: 0;
    }

   @include respond-x_small {
     width: 100%;
   }

    h2 {
      @include sectionTitle;

      @include respond-medium {
        width: 100%;
        margin-left: 46px;
      }

      @include respond-small {
        margin-left: 15px;
      }

      @include respond-x_small {
        margin-left: 0;

      }
    }

    p {
      @include sectionText;
      width: 420px;
      height: 240px;
      margin-top: 65px;
      display: inline-block;
      vertical-align: text-top;

      @include respond-medium {
        width: 85%;
        margin-left: 46px;
      }

      @include respond-small {
        width: 100%;
        margin-left: 15.9844px;
      }

      @include respond-x_small {
        margin-left: 0;
      }
    }
  }

  .img-right {
    display: grid;
    grid-template-columns: 165px 165px 285px 75px 75px;
    grid-template-rows: 126px 204px 125px 75px 75px 75px;
    max-height: 800px;
    max-width: 800px;

    @include respond-m_l {
      grid-template-columns: 137.5px 137.5px 237.5px 62.5px 62.5px;
      grid-template-rows: 105px 170px 104.166px 62.5px 62.5px 62.5px;
    }

    @include respond-medium {
      grid-template-columns: 110px 110px 190px 50px 50px;
      grid-template-rows: 84px 136px 83.33px 50px 50px 50px;
    }

    @include respond-small {
      grid-template-columns: 82.5px 82.5px 142.5px 37.5px 37.5px;
      grid-template-rows: 63px 102px 62.5px 37.5px 37.5px 37.5px;
    }

    @include respond-x_small {
      grid-template-columns: 63.46px 63.46px 109.615px 28.85px 28.85px;
      grid-template-rows: 48.46px 78.46px 48.07px 28.85px 28.85px 28.85px;
    }

    .bg-square-big {
      width: 330px;
      height: 330px;
      background-color: $bg-square-big;
      grid-column:  1 / span 2;
      grid-row: 1 / span 2;

      @include respond-m_l {
        width: 275px;
        height: 275px;
      }

      @include respond-medium {
        width: 220px;
        height: 220px;
      }

      @include respond-small {
        width: 165px;
        height: 165px;
      }

      @include respond-x_small {
        width: 126.92px;
        height: 126.92px;
      }
    }

    .bg-square-small {
      width: 150px;
      height: 150px;
      background-color: $bg-square-small;
      transform: rotate(45deg);
      grid-column:  4 / span 2;
      grid-row: 5 / span 2;

      @include respond-m_l {
        width: 125px;
        height: 125px;
      }

      @include respond-medium {
        width: 100px;
        height: 100px;
      }

      @include respond-small {
        width: 75px;
        height: 75px;
      }

      @include respond-x_small {
        width: 57.69px;
        height: 57.69px;
      }
    }

    .img-right-image {
      width: 525px;
      height: 480px;
      z-index: 100;
      grid-column: 2 / span 3;
      grid-row: 2 / span 2;

      @include respond-m_l {
        width: 437.5px;
        height: 400px;
      }

      @include respond-medium {
        width: 350px;
        height: 320px;
      }

      @include respond-medium {
        width: 350px;
        height: 320px;
      }

      @include respond-small {
        width: 262.5px;
        height: 240px;
      }

      @include respond-x_small {
        width: 201.92px;
        height: 184.615px;
      }

       .img-about {
         width: 100%;
         height: auto;
       }
    }
  }
}
