#challenge-event {
  @include flex($display: flex, $justify: center, $align: center);
  height: 540px;
  background-color: $dark-blue;

  @include respond-medium {
    @include flex($direction: column, $justify: flex-start);
    padding: 80px 30px;
    min-height: 750px;
  }

  .img-left {
    margin-right: 60px;

    @include respond-medium {
      margin-right: 0;
    }

    div img {
      @include respond-x_small {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  .content-right {
    width: 570px;

    @include respond-medium {
      @include flex($direction: column);
      margin-top: 50px;
      width: 90%;
      height: 249px;
    }

    @include respond-small {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      @include sectionTitle;

      @include respond-medium {
        width: 100%;
        margin-left: 46px;
      }

      @include respond-small {
        width: 85%;
      }

      @include respond-x_small {
        width: 100%;
        margin-left: 0;
      }
    }

    p {
      @include sectionText;
      width: 570px;
      height: 105px;
      margin-top: 65px;

      @include respond-medium {
        width: 90%;
        margin-left: 46px;
      }

      @include respond-small {
        width: 85%;
      }

      @include respond-x_small {
        width: 100%;
        height:auto;
        margin-left: 0;
      }
    }
  }
}
