.footer-wrapper {
  width: 100%;
  height: 120px;
  @include flex(
    $display: flex,
    $direction: column,
    $justify: space-between,
    $align: center
  );
}

.menu.menu-footer {
  @include flex($display: flex, $justify: center, $align: center);
  width: 100%;
  height: 68px;
  background-color: $footer-bg-color;
  margin: 0;

  @include respond-small {
    @include flex($direction: column, $align: center);
    height: auto;
    padding: 30px 0;
  }

  .menu-footer-item {
    text-align: center;
    margin-right: 29px;

    @include respond-small {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .menu-footer-link {
    color: $medium-gray;
    text-decoration: none;

    &:hover::after {
      width: 0;
    }
  }
}

.field__item:last-child {
  width: 100%;
}

p {
  width: 100%;
  height: 52px;
  @include flex($display: flex, $justify: center, $align: center);
  color: $copyright-color;
  background-color: $copyright-bg-color;
  @include fontSize(12);
  line-height: 14px;
  margin: 0;

  a {
    color: $white;
    margin-left: 5px;
  }
}
