.hero-section {
  height: 100vh;
  background-image: url('../images/hero-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $white;
  position: relative;

  &::after {
    @include pseudo($height: 100vh, $bg-color: $dark-black);
    display: block;
    top: 0;
    left: 0;
    opacity: 0.25;
  }

  .hero {
    height: 100vh;
    @include flex($display:flex,$justify:center);
  }
}   

  #challenge-home {
    position: relative;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    @include flex($display:flex,$direction:column,$justify:center,$align:center);
  }

.hero-subtitle {
  @include fontSize(24);
  position:relative;
  width: 247px;
  margin-bottom: 32px;
  font-weight: $fw-300;
  line-height: 28.13px;
  &::after {
    @include pseudo($width:249px, $height:1px, $bg-color: $white)
    opacity: 0.4;
    left: 0;
    top: 60px;
  }
}
  
h1 {
  @include fontSize(64);
  position:relative;
  top: 20px; 
  font-weight: $fw-200;
  line-height: 75px;
  margin: 10px 0;
  @include respond-x_small {
    @include fontSize(42);
  }
  strong {
    font-weight: $fw-500;
  }
}










