.navbar {
  max-width: 1440px;
  height: 99px;
  padding: 0 195.25px;
  margin: 0 auto;
  @include flex($display: flex, $justify: space-between, $align: center);

  @include respond-medium {
    padding: 0 140px;
  }

  @include respond-small {
    @include flex( $justify: space-around);
    padding: 0 ;
  }

  @include respond-x_small {
    padding: 0 20px;
  }
}

.site-brand {
  width: 240px;
  @include flex($display: flex, $align: center);

  .site-logo {
    margin-right: 31px;
  }

  .site-slogan {
    display: inline-block;
    align-self: center;
    color: $white;
    @include fontSize(24);
    font-weight: $fw-900;
    line-height: 28.13px;

    @include respond-x_small {
      @include fontSize(18);
    }

    span {
      font-weight: $fw-300;
    }
  }
}

.menu-icon {
  @include hide;

  &:hover {
    cursor: pointer;
  }

  @include respond-m_s {
    @include show;
  }
}

.menu-main {
  @include flex($display: flex);

  @include respond-m_s {
    @include hide;
  }

  &.show-mobile {
    display: block;
    position: absolute;
    top: 99px;
    left: 0;
    width: 100%;
    margin-left: 0 !important;
    @include flex($direction: column, $align: center);
    background-color: rgba($black, 0.5);
    padding: 10px 0;
  }

  .menu-main-item {
    position: relative;
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }

    @include respond-m_s {
      margin-right: 0;
      padding: 10px 0;
    }
  }

  .menu-main-item.active {
    &::after {
      @include pseudo;
      border-radius: 3px;
      bottom: 0;
      left: 0;

      @include respond-m_s {
        width: 42px;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .menu-main-link {
    display: inline-block;
    position: relative;
    color: $white;
    font-weight: $fw-500;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;

    @include respond-m_s {
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }

    &:hover::after {
      @include pseudo;
      border-radius: 3px;
      bottom: -7px;
      left: 0;

      @include respond-m_s {
        width: 0;
      }
    }
  }
}
