#challenge-news {
  max-width: 1050px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 0;
  background-color: $black;

  @include respond-medium {
    padding: 80px 30px;
  }

  h2 {
    &:not(h2.news-subtitle) {
      @include sectionTitle;

      @include respond-medium {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      @include respond-small {
        width: 85%;
      }

      @include respond-x_small {
        width: 100%;
      }
    }
  }

  h2.news-subtitle {
    margin-bottom: 10.15px;

    &::after {
      @include hide;
    }

    a.news-link {
      text-decoration: none;
      color: $white;
      @include fontSize(24);
      font-weight: $fw-500;
      line-height: 28px;
    }
  }

  .news-date {
    .createdDate {
      @include fontSize(12);
      line-height: 14px;
      color: $medium-gray;
      margin-bottom: 24px;
    }
  }
}
